<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Finance Calculator</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <input type="submit" value="Submit">
    </form>
 <div class="col-md-12">{{plot|safe}}</div>
  {% autoescape off %}
  {{ plot }}
  {% endautoescape %}
</body>
</html>