{% load static %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'FinanceMath/style.css' %}">

<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Finance Calculator</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="page-header">
        <h1>Finance Calculator</h1>
        <h4>Created by Cody Griffith <a href="https://mathnstein.github.io">(Website)</a></h4>
    </div>
    <div class="page-description">
        <h3>Estimate future income and savings by the year, month or week.</h2>
    </div>
    <form action="" method="post">
        <h4>Input variables here...</h4>
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <input type="submit" value="Submit">
    </form>
 <div class="col-md-12">{{plot|safe}}</div>
  {% autoescape off %}
  {{ plot }}
  {% endautoescape %}
</body>
</html>